streamlit
pandas
numpy
matplotlib
plotly
seaborn
beautifulsoup4
requests
html5lib
yfinance
fastapi
bcrypt
selenium
webdriver-manager
streamlit-authenticator
python-dateutil
streamlit-cookies-manager




