.center-image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 300px; /* Ajuste si nécessaire */
}

/* Appliquer une police et centrer le texte */
body {
  background-color: red;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #EDEDED;
  margin: 20px;
}

/* Style du titre principal */
h1 {
  color: #00B388;
  padding: 4px 12px; /* Réduit l'espacement autour du texte */
  margin: 5px;
  border-radius: 10px;
  border: 4px solid #A4F6D2; /* Bordure plus fine */
  display: block; /* Chaque titre sera sur une nouvelle ligne */
  width: fit-content; /* Ajuste la largeur au contenu du texte */
  margin-left: auto;
  margin-right: auto;
}

/* Style des sous-titres */
h2 {
  color: #A4F6D2;
  padding: 4px 12px; /* Réduit l'espacement autour du texte */
  margin: 5px;
  border-radius: 10px;
  display: block; /* Chaque titre sera sur une nouvelle ligne */
  width: fit-content; /* Ajuste la largeur au contenu du texte */
}

